h1,h2,h4, h3{
  color: aliceblue;
  font-family: monospace;

}
h3{
  font-size: 35px;
}
h4{
  font-size: 20px;
}
h1{
  font-size: 40px;
}

body{
  margin: 0px;
  background-color: black;
}
 p {
      color: aliceblue;
      font-size: 30px;
      font-family: monospace;
  }

  #rodape > div{
    background-color:rgb(29, 29, 29);
    padding: 0px;
    width: 100%;
  }
  #rodape > div:hover{
    background-color: rgb(54, 54, 54);
  }
  
  .grid-container {
    padding: 0px;
    margin: 0px;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 20px;
  }

  img{
    padding-left: 70px;
  }

  #devs div{
    background-color: rgb(24, 24, 24);    
    margin: 2px;
    border: rgb(255, 255, 255) 2px solid;
    padding-right: 55px;
  }

  .navegacao{
    padding-top: 10px;
    padding-bottom: 10px;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    height: 50%;
    width: 100%;
    text-align: center;
    color:aliceblue;
    z-index: 1;
  }
  .navegacao > .flex-links {
    
    margin-left: 30px;
    display: inline-grid;
  }

  .flex-links, .flex-links :visited {
    font-family: sans-serif;
    color:aliceblue;
  }
  .flex-links > a{
    color:#f0f8ff;
    text-decoration: none;
    
  }
  
*{
  text-decoration: none;
}

body > a{
  font-size:62.5%;
  margin: 0%;
  background-color: rgb(0, 0, 0);
}

.container2{
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 5px;
  padding: 5px;
  margin-bottom: 30px;
}

.container2 h1{
  margin: 8px;
}

#projetos div {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
  url(./img/code.jpg);
  border: rgb(255, 255, 255) 2px solid;
  margin-left: 5px;
  background-color: rgb(71, 71, 71);
  padding: 10px;
}