.grid-container {
    width: 50%;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
  }

 p {
      color: aliceblue;
      font-size: 70px;
  }