
body{
  background-color: black;
}
 p {
      color: aliceblue;
      font-size: 45px;
      font-family: monospace;
  }

  #rodape > div{
    background-color:rgb(29, 29, 29);
    padding: 0px;
    width: 100%;
  }
  #rodape > div:hover{
    background-color: rgb(54, 54, 54);
  }
  
  .grid-container {
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    text-align: center;
  }